<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
</head>
<body>
    <div class="container mb-5">
        <header class="row border border-dark p-4">
            <div class="col-sm justify-content-left">
                <h1>Welcome {{curr_user.first_name}}</h1>
            </div>
            <div class="col-sm justify-content-right">
                <a href="/books">Back to Main Page</a>
                <a class="d-inline align-baseline mx-3 my-auto" href="/log_out">( Log Off )</a>
            </div>
        </header>
        {% if messages %}
        <section class="row my-4 justify-content-center">
            <ul class="messages">
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
        <main class="row my-4">
            <div class="col-sm-5">
                <form action="/books/{{this_book.id}}/update" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <input class="form-control col-sm" type="text" id="title" name="title" minlength="2" value="{{this_book.title}}" required>
                    </div>
                    <p><strong>Added By: {{this_book.uploaded_by.first_name}} {{this_book.uploaded_by.last_name}}</strong></p>
                    <p><strong>Added on: {{this_book.created_at}}</strong></p>
                    <p><strong>Last Updated: {{this_book.updated_at}}</strong></p>
                    <div class="form-group row">
                        <label for="description" class="col-sm-4"><strong>Description:</strong></label>
                        <textarea class="form-control col-sm-8" name="description" id="description" rows="3" minlength="5">{{this_book.desc}}</textarea>
                    </div>
                    <div class="row justify-content-center">
                        <input class="btn btn-primary m-3" type="submit" value="Edit Book">
                    </div>
                </form>
                <div class="row justify-content-center">
                    <form action="/books/{{this_book.id}}/destroy" method="POST">
                        {% csrf_token %}
                        <input class="btn btn-danger m-3" type="submit" value="Delete Book">
                    </form>
                </div>
            </div>
            <div class="col-sm-6 ml-4">
                <h3 class="my-4">Users who like this Book:</h2>
                    {% for user in favorited %}
                        <ul>
                            <li><strong>{{user.first_name}} {{user.last_name}}</strong>
                                {% if user == curr_user %}
                                <ul>
                                    <li><a href="/books/{{this_book.id}}/un_like">Un-Favorite</a></li>
                                </ul>
                                {% endif %}
                            </li>
                        </ul>
                    {% endfor %}
                    {% if curr_user not in favorited %}
                        <a href="/books/{{this_book.id}}/like">Add to Favorites</a>
                    {% endif %}
            </div>
        </main>
    </div>
</body>
</html>