<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration Assignment</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm px-5">
                <h1 class="my-5">Registration</h1>
                <form action="/register" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="first_name" class="col-sm-4">First Name</label>
                        <input class="form-control col-sm-8" type="text" id="first_name" name="first_name">
                    </div>
                    <div class="form-group row">
                        <label for="last_name" class="col-sm-4">Last Name</label>
                        <input class="form-control col-sm-8" type="text" id="last_name" name="last_name">
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-4">Email</label>
                        <input class="form-control col-sm-8" type="text" id="email" name="email">
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-4">Password</label>
                        <input class="form-control col-sm-8" type="password" id="password" name="password">
                    </div>
                    <div class="form-group row">
                        <label for="password_conf" class="col-sm-4">Confirm Password</label>
                        <input class="form-control col-sm-8" type="password" id="password_conf" name="password_conf">
                    </div>
                        <input class="btn btn-primary my-3" type="submit" value="Register">
                </form>
            </div>
            <div class="col-sm px-5">
                <h1 class="my-5">Registration</h1>
                <form action="/login" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="email" class="col-sm-4">Email</label>
                        <input class="form-control col-sm-8" type="text" id="email" name="email">
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-4">Password</label>
                        <input class="form-control col-sm-8" type="password" id="password" name="password">
                    </div>
                        <input class="btn btn-primary my-4" type="submit" value="Log In">
                </form>
            </div>
        </div>
    </div>
</body>
</html>