<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Courses Assignment</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
</head>

<body>
    <div class="container">
        <div class="col-md-8">
            <h1 class="page-header">Are you sure you want to delete the following course?</h1>
            <p class="lead"><strong>Name:</strong></p>
            <p><strong>{{one_course.course_name}}</strong></p>
            <p class="lead"><strong>Description:</strong></p>
            <p><strong>{{one_course.description.desc}}</strong></p>
            <hr>
            <div class="row">
                <div class="col align-self-start">
                    <a class="btn btn-success btn-lg" href="/">No</a>
                </div>
                <div class="col align-self-end">
                    <form action="/courses/destroy/{{one_course.id}}/delete" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger btn-lg" value="Yes! I want to delete this">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>